<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <link rel="author" href="{{ SITEURL}}/static/humans.txt" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    {% if page and page.latex %}
        {{ page.latex }}
    {% endif %}
</head>

<body>
    {% include 'github.html' %}

    <div class="header-container">
        <header id="masthead" class="wrapper clearfix">
            <h1 class="title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}
        </header>
    </div>

    <div class="main-container">
        <div class="main wrapper clearfix">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="footer-container">
        <footer id="contentinfo" class="wrapper">

            <!-- <form action="http://google.com/search" method="get">
                <fieldset role="search">
                    <input type="hidden" name="q" value="site:aas.io" />
                    <input class="search" type="text" name="q" results="0" placeholder="Search" accesskey="/" />
                </fieldset>
            </form> -->

            {% if SOCIAL %}
                        <div class="social">
                            <ul>
                                {% if FEED_ALL_ATOM %}
                                    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"><i class="icon-rss-sign"></i></a></li>
                                {% endif %}
                                {% if FEED_ALL_RSS %}
                                    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"><i class="icon-rss"></i></a></li>
                                {% endif %}

                                {% for icon, link in SOCIAL %}
                                    <li><a href="{{ link }}"><i class="{{ icon }}"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div><!-- /.social -->
            {% endif %}

            <small><a href="{{ SITEURL }}/static/humans.txt">humans.txt</a></small>
        </footer>
    </div>

    {% include 'analytics.html' %}
    {% include 'piwik.html' %}
    {% if DISQUS_SITENAME %}
        <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>

        <script type="text/javascript">
            var disqus_identifier = window.location.pathname;
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>

        <script type="text/javascript">
            function toggleComments() {
                var commentDiv = document.getElementById("disqus_thread");
                (commentDiv.style.display == "none") ? commentDiv.style.display = "block" : commentDiv.style.display = "none";
                return false;
            }
        </script>

        <script>
            $(document).ready(function () {

                var disqusPublicKey = "{{ DISQUS_PUBLICKEY }}";
                var disqusShortname = "{{ DISQUS_SITENAME }}";
                var urlArray = [];
                urlArray.push('link:' + window.location.href);

                $.ajax({
                    type: 'GET',
                    url: "https://disqus.com/api/3.0/threads/set.jsonp",
                    data: { api_key: disqusPublicKey, forum : disqusShortname, thread : urlArray },
                    cache: false,
                    dataType: 'jsonp',
                    success: function (result) {

                        for (var i in result.response) {

                            var countText = " comments";
                            var count = result.response[i].posts;

                            if (count == 0)
                                $('#commentbutton').css('color', '#586e75')
                            else
                                $('#commentbutton').append(' (' + count + ')')
                        }
                    }
                });
            });
        </script>
    {% endif %}
    {% include 'disqus_script.html' %}

    <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//www.stats.rusti.cc/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//www.stats.rusti.cc/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

</body>
</html>
