{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
    {% for article in articles_page.object_list %}
        <div class="post">
            <h1 class="post-title" style="display: inline">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h1>
            <span class="post-date" style="display: inline">{{ article.locale_date }}</span>
            <span class="headline" style="display: block">{{ article.headline }}</span>
        </div>
    {% endfor %}

    {% for page in PAGES %}
    <!-- <header class="clearfix">
            <h1>
                <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
            </h1>
    </header> -->
    {% endfor %}
{% endblock content %}
