{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
    <a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
    <h5><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h5>
    <p>
    {{ res.meta.description }}
    <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
      {{ res.meta.created.strftime('%d %b %Y') }}
    </time>
    </p>
    {{ post.excerpt|markdown|typogrify }}
</article>
{% endmacro %}


{# this macro renders the post list #}

{% macro render_excerpt2(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
    <small>
    <a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
    &nbsp;//&nbsp;
    <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
        {{ res.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    {# the following line renders the "featured" tag along the post list #}
    {% if res.meta.featured %}&nbsp;&nbsp;&nbsp;&nbsp;<font color="#FF0000">&#8727;featured</font>{% endif %}
    </small>
    <a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
    {{ post.excerpt|markdown|typogrify }}
</article>
{% endmacro %}


{# this macro renders a centered image in posts #}

{% macro render_image(description, filename, alt, extlink) -%}
	{% if extlink == '' -%}
		<center><a href="http://fradeve.org/media/images/{{ filename }}"><img alt="{{ alt }}" src="/media/images/{{ filename }}" title="{{ description }}" /></a></center>
	{% else -%}
		<center><a href="{{ extlink }}"><img alt="{{ alt }}" src="/media/images/{{ filename }}" title="{{ description }}" /></a></center>
	{%- endif %}
{%- endmacro %}


{# this macro renders an horizontal bar graph #}

{% macro render_hgraph3(val1, val2, val3) -%}
	<script type="text/javascript">
		window.onload = function () {
			var r = Raphael("holder"),
			fin = function () {
				this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
			},
			fout = function () {
				this.flag.animate({opacity: 0}, 300, function () {this.remove();});
			},
			fin2 = function () {
				var y = [], res = [];
				for (var i = this.bars.length; i--;) {
					y.push(this.bars[i].y);
					res.push(this.bars[i].value || "0");
				}
				this.flag = r.popup(this.bars[0].x, Math.min.apply(Math, y), res.join(", ")).insertBefore(this);
			},
			fout2 = function () {
				this.flag.animate({opacity: 0}, 300, function () {this.remove();});
			};
			r.text(160, 10, "Single Series Chart").attr(txtattr);
			r.hbarchart(10, 10, 300, 220, [[{{ val1 }}, {{ val2 }}, {{ val3 }}]]).hover(fin, fout);
		};
	</script>
{%- endmacro %}


{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
    <ul>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = [] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ content_url(item.url) }}">
                {{ item.name }}</a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{%- endif %}
{%- endmacro %}
