{% extends "base.j2" %}

{% block main %}

{% block page_title %}
    <h1 class="title">
        <a href='#'>{{ resource.meta.title }}</a>
    </h1>
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        Posted on {{ resource.meta.created.strftime('%d %b %Y') }}
    </time>
{% endblock %}

{% for tag, meta in site.tagger.tags %}
<h6> {{tag}}</h6>
	{% for res in resource.node.walk_resources_tagged_with(tag) %}
	<ul>
		<li> <a href="{{ res.full_url }}">{{ res.meta.title }}</a>
	{% endfor %}
	</ul>
{% endfor %}

{% endblock %}
