{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
    <style>
        .main-container{border: 0px}
    </style>
    <article>
        <header class="clearfix">
            <h2>
                {{ article.title}}
                {% if article.featured %}
                    <i style="font-size: 17px;"class="icon-pushpin"> </i>
                {% endif %}
            </h2>
            <br>
                <abbr class="published" title="Published" style="padding-left: 8px;">
                    <i style="font-size: 17px;"class="icon-rocket"> </i>
                    <small>{{ article.date | strftime('%d/%m/%Y') }}</small>
                </abbr>
                {% if article.modified %}
                <abbr class="published" title="Updated">
                    <i style="font-size: 17px;"class="icon-time"> </i>
                    <small>{{ article.modified | strftime('%d/%m/%Y') }}</small>
                </abbr>
                {% endif %}
        </header>

        <div class="content">
            {{ article.content }}
            <center>
                <div style="font-size: 40px; color: #b44; padding-bottom: 20px">.</div>
                <h3>
                    {% if article.tags %}
                        <p>
                            <i style="font-size: 20px;"class="icon-tag"> </i>
                            {% for tag in article.tags %}
                                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </h3>
            </center>
        </div>
        {% if DISQUS_SITENAME %}
            <div class="comments">
                <center><p><a id="commentbutton" href="#" onclick="javascript:toggleComments();return false;">Comments</a></p></center>
                <div id="disqus_thread" style="display: none"></div>
            </div>
        {% endif %}
    </article>
{% endblock %}
